{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            font-size: 25px;
            color: #444444;
        }
        .container {
            margin: 0 auto;
            width: 100%;
            max-width: 1300px;
            padding-top: 25px;
            text-align: left;
        }

    </style>
</head>
<body>
<div class="container">
    <a href="calculation/make/"><strong> Make a calculation </strong> </a>
    <p>Task № 42</p>
</div>
</body>
</html>



</body>
</html>